# Python
*.py[cod]
*$py.class
*.so
dist/
downloads/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static

# Django secret key and sensitive data
.env
.env.local
.env.*.local
*.env

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/
.venv

# PyCharm
.idea/
*.iml
*.iws
.idea_modules/

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Node.js / React
node_modules/
npm-debug.log*

# Testing
.pytest_cache/

# Vite
dist/
.cache/
.vite/

# Environment variables
.env.production
.env.development
.env.test

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.sln
*.sw?

# Celery
celerybeat-schedule
celerybeat.pid

# Redis
dump.rdb

# pyenv
.python-version

# Backup files
*.bak
*.swp
*~

# Uploaded media files
media/
uploads/

# Migrations
# */migrations/*.py
# !*/migrations/__init__.py

# System Files
Thumbs.db
Desktop.ini

# Package files
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ESLint
.eslintcache

*.session